<html>
    <title>Home</title>
        <h1 style="color:#3366ff">Welcome to Intellecto Global Service</h1>
        {% block content %}
                    <td><a href="/show_emp"><button type='button' style="background-color: #737373;border-color:rgb(22, 20, 20); color:whitesmoke">Employee Management</button></a> 
                        <a href="/show_proj"><button type='button' style="background-color: #737373;border-color:rgb(22, 20, 20); color:whitesmoke">Project Management</button></a></td>
                        <a href="/show_ben_emp"><button type='button' style="background-color: #737373;border-color:rgb(22, 20, 20); color:whitesmoke">Click to see Bench Employees</button></a></td>
            {%endblock%}
</html>
